body, html {
    height: 100%;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

body {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
    text-decoration: underline;
}

canvas#dotCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
}

.modal {
    position: absolute;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 650px;
    max-height: 90vh; /* Limit modal height to 90vh */
    overflow-y: auto; /* Make content scrollable */
    margin: auto;
}

h1 {
    color: #e0e0e0;
    margin-bottom: 16px;
    font-size: 24px;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between project boxes */
}

.project-box {
    background-color: #2c2c2c;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-box h2 {
    margin-top: 0;
    color: #e0e0e0;
    font-size: 20px;
}

.project-box p {
    color: #b0b0b0;
    margin: 0;
}

/* Other styles */

.notification-container {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: none;
}

.notification-message {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.5s ease;
    pointer-events: auto;
}

.notification-message.show {
    visibility: visible;
    transform: translateY(-20px);
}

/* Additional styles if necessary */

body, html {
    height: 100%;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

body {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
}

canvas#dotCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
}

/* Hide scrollbar for IE, Edge, and Firefox */
/* Style for dark-themed scrollbar */
html::-webkit-scrollbar {
    height: 10px;
    background: #2c2c2c;
}

html::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* For Firefox */
html {
    scrollbar-color: #444 #2c2c2c;
    scrollbar-width: thin;
}

/* Hide scrollbar for IE, Edge, and Firefox */
html {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
    display: none;
}


.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.input-area, .output-area {
    width: 100%;
}

input[type="text"], .output-container, .preview-area {
    font-size: 14px;
    padding: 8px;
}

input[type="text"] {
    flex-grow: 1;
    border: 2px solid #333;
    border-radius: 5px;
    background: #2c2c2c;
    color: white;
    margin-right: 8px;
}

.settings-area > button {
    background-color: #444;
}

.settings-area > button:hover {
    background-color: #888;
}

button {
    font-size: 14px;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 40px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

#outputString, .preview-area {
    background: #333;
    border-radius: 5px;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
}

.preview-area {
    text-align: left;
    margin-top: 16px;
    font-size: 14px;
}

#previewString {
    white-space: pre-wrap;
    overflow-x: auto;
    display: block;
    padding: 10px;
    background: #2c2c2c;
    border: 2px solid #333;
    border-radius: 5px;
    margin-bottom: 0px;
}

#previewString span {
    font-weight: bold;
    font-size: 18px;
}
